<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "Fehler") %> beim Speichern:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, "Titel", style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, "Beschreibung", style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.label :creator_name, "Erstellt von", style: "display: block" %>
    <%= form.text_field :creator_name %>
  </div>

  <div>
    <%= form.label :status, "Status", style: "display: block" %>
    <%= form.select :status, [["Offen", "open"], ["Übernommen", "claimed"], ["Erledigt", "done"]] %>
  </div>

  <div>
    <%= form.label :assignee, "Zugewiesen an", style: "display: block" %>
    <%= form.text_field :assignee %>
  </div>

  <div>
    <%= form.label :urgent, "Dringend", style: "display: block" %>
    <%= form.checkbox :urgent %>
  </div>

  <div>
    <%= form.label :due_date, "Fällig bis", style: "display: block" %>
    <%= form.date_field :due_date %>
  </div>

  <div>
    <%= form.label :time_needed_in_hours, "Zeitaufwand (Stunden)", style: "display: block" %>
    <%= form.number_field :time_needed_in_hours %>
  </div>

  <div>
    <%= form.label :activity_points, "Aktivitätspunkte", style: "display: block" %>
    <%= form.number_field :activity_points %>
  </div>

  <div class="field">
    <%= form.label :category_id, "Kategorie" %>
    <%= form.collection_select(:category_id, Category.all, :id, :name, prompt: "Kategorie wählen") %>
  </div>

  <div class="field">
    <%= form.label :entity_id, "Gliederung" %>
    <%= form.collection_select(:entity_id, Entity.all, :id, :name, prompt: "Gliederung wählen") %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
