<div id="<%= dom_id task %>">
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= task.completed %>
  </p>

  <p>
    <strong>Creator name:</strong>
    <%= task.creator_name %>
  </p>

  <p>
    <strong>Time needed in hours:</strong>
    <%= task.time_needed_in_hours %>
  </p>

  <p>
    <strong>Due Date:</strong>
    <%= task.due_date %>
  </p>

  <p>
    <strong>Activity points:</strong>
    <%= task.activity_points %>
  </p>

  <p>
    <strong>Urgent:</strong>
    <%= task.urgent %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= task.category.name %>
  </p>

  <p>
    <strong>Entity:</strong>
    <%= task.entity.name %>
  </p>

</div>
