<% content_for :title, "Aufgaben" %>

<div class="page-header">
  <h1>Was gibt es alles zu tun?</h1>
  <%= link_to "Neues ToDo", new_task_path, class: "btn btn-primary" %>
</div>

<table>
  <thead>
    <tr>
      <th>Titel</th>
      <th>Status</th>
      <th>Kategorie</th>
      <th>Gliederung</th>
      <th>Zugewiesen an</th>
      <th>Dringend</th>
      <th>Aufwand</th>
      <th>Fällig bis</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.title, task %></td>
        <td>
          <% case task.status %>
          <% when "open" %>
            <span class="badge badge-open">Offen</span>
          <% when "claimed" %>
            <span class="badge badge-claimed">Übernommen</span>
          <% when "done" %>
            <span class="badge badge-done">Erledigt</span>
          <% else %>
            <span class="badge"><%= task.status %></span>
          <% end %>
        </td>
        <td><%= task.category.name if task.category %></td>
        <td><%= task.entity.name if task.entity %></td>
        <td><%= task.assignee %></td>
        <td><%= task.urgent ? raw('<span class="badge badge-urgent">Dringend</span>') : "" %></td>
        <td><%= "#{task.time_needed_in_hours} Std." if task.time_needed_in_hours %></td>
        <td><%= task.due_date&.strftime("%d.%m.%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
