<div id="<%= dom_id entity %>">
  <p>
    <strong>Name:</strong>
    <%= entity.name %>
  </p>

  <p>
    <strong>Landesverband (LV):</strong>
    <%= entity.LV ? "Ja" : "Nein" %>
  </p>

  <p>
    <strong>Ortsverband (OV):</strong>
    <%= entity.OV ? "Ja" : "Nein" %>
  </p>

  <p>
    <strong>Kreisverband (KV):</strong>
    <%= entity.KV ? "Ja" : "Nein" %>
  </p>

  <% if entity.entity_id.present? %>
    <p>
      <strong>Übergeordnete Gliederung:</strong>
      <%= Entity.find_by(id: entity.entity_id)&.name || entity.entity_id %>
    </p>
  <% end %>

</div>
