<div id="<%= dom_id entity %>">
  <p>
    <strong>Name:</strong>
    <%= entity.name %>
  </p>

  <p>
    <strong>Lv:</strong>
    <%= entity.LV %>
  </p>

  <p>
    <strong>Ov:</strong>
    <%= entity.OV %>
  </p>

  <p>
    <strong>Kv:</strong>
    <%= entity.KV %>
  </p>

  <p>
    <strong>Entity:</strong>
    <%= entity.entity_id %>
  </p>

</div>
