<%= form_with(model: entity) do |form| %>
  <% if entity.errors.any? %>
    <div class="form-errors">
      <h2><%= pluralize(entity.errors.count, "Fehler") %> beim Speichern:</h2>
      <ul>
        <% entity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Name" %>
    <%= form.text_field :name %>
  </div>

  <div class="form-group">
    <%= form.label :entity_level, "Gliederungsebene" %>
    <%= form.select :entity_level, Entity::ENTITY_LEVEL_LABELS.map { |k, v| [v, k] }, { prompt: "Bitte wählen" } %>
  </div>

  <div class="form-group">
    <%= form.label :entity_id, "Übergeordnete Gliederung" %>
    <%= form.collection_select(:entity_id, Entity.where.not(id: entity.id), :id, :name, prompt: "Keine (oberste Ebene)", include_blank: false) %>
  </div>

  <div class="btn-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
