<%= form_with(model: entity) do |form| %>
  <% if entity.errors.any? %>
    <div class="form-errors">
      <h2><%= pluralize(entity.errors.count, "Fehler") %> beim Speichern:</h2>
      <ul>
        <% entity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Name" %>
    <%= form.text_field :name %>
  </div>

  <div class="form-group">
    <div class="checkbox-row">
      <%= form.checkbox :LV %>
      <%= form.label :LV, "Landesverband (LV)" %>
    </div>
  </div>

  <div class="form-group">
    <div class="checkbox-row">
      <%= form.checkbox :OV %>
      <%= form.label :OV, "Ortsverband (OV)" %>
    </div>
  </div>

  <div class="form-group">
    <div class="checkbox-row">
      <%= form.checkbox :KV %>
      <%= form.label :KV, "Kreisverband (KV)" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :entity_id, "Übergeordnete Gliederung" %>
    <%= form.collection_select(:entity_id, Entity.where.not(id: entity.id), :id, :name, prompt: "Keine (oberste Ebene)", include_blank: false) %>
  </div>

  <div class="btn-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
