<%= form_with(model: entity) do |form| %>
  <% if entity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(entity.errors.count, "Fehler") %> beim Speichern:</h2>

      <ul>
        <% entity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Name", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :LV, "Landesverband (LV)", style: "display: block" %>
    <%= form.checkbox :LV %>
  </div>

  <div>
    <%= form.label :OV, "Ortsverband (OV)", style: "display: block" %>
    <%= form.checkbox :OV %>
  </div>

  <div>
    <%= form.label :KV, "Kreisverband (KV)", style: "display: block" %>
    <%= form.checkbox :KV %>
  </div>

  <div class="field">
    <%= form.label :entity_id, "Übergeordnete Gliederung" %>
    <%= form.collection_select(:entity_id, Entity.where.not(id: entity.id), :id, :name, prompt: "Keine (oberste Ebene)", include_blank: false) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
