<p style="color: green"><%= notice %></p>

<% content_for :title, "Entities" %>

<h1>Entities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>LV</th>
      <th>OV</th>
      <th>AKV</th>
      <th>Nummer</th>
    </tr>
  </thead>

  <tbody>
    <% @entities.each do |entity| %>
      <tr>
        <td><%= link_to entity.name, entity %></td>
        <!-- Display the category name instead of its ID -->
        <td><%= entity.LV  %></td>
        <!-- If you want to display the entity name as well -->
        <td><%= entity.OV  %></td>
        <td><%= entity.KV %></td>
        <td><%= entity.entity_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to "New entity", new_entity_path %>
</br>
<%= link_to "Home", tasks_path %>