<% content_for :title, "Gliederungen" %>

<div class="page-header">
  <h1>Gliederungen</h1>
  <%= link_to "Neue Gliederung", new_entity_path, class: "btn btn-primary" %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>LV</th>
      <th>OV</th>
      <th>KV</th>
      <th>Übergeordnete Gliederung</th>
    </tr>
  </thead>

  <tbody>
    <% @entities.each do |entity| %>
      <tr>
        <td><%= link_to entity.name, entity %></td>
        <td><%= entity.LV ? "Ja" : "" %></td>
        <td><%= entity.OV ? "Ja" : "" %></td>
        <td><%= entity.KV ? "Ja" : "" %></td>
        <td><%= Entity.find_by(id: entity.entity_id)&.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
