<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div class="form-errors">
      <h2><%= pluralize(category.errors.count, "Fehler") %> beim Speichern:</h2>
      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Name" %>
    <%= form.text_field :name %>
  </div>

  <div class="btn-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
