<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>
  <%= link_to "Bearbeiten", edit_category_path(@category) %> |
  <%= link_to "Zurück zur Liste", categories_path %>

  <%= button_to "Löschen", @category, method: :delete %>
</div>
