<header class="navbar">
  <div class="navbar-inner">
    <%= link_to root_path, class: "navbar-brand" do %>
      <img src="/icon.svg" alt="Piraten" width="28" height="28"> Meine Piraten
    <% end %>
    <ul class="navbar-links">
      <li><%= link_to "Aufgaben", tasks_path %></li>
      <li><%= link_to "Gliederungen", entities_path %></li>
      <li><%= link_to "Kategorien", categories_path %></li>
      <li><%= link_to "API", api_path %></li>
    </ul>
    <ul class="navbar-user">
      <% if user_signed_in? %>
        <li><span class="user-name"><%= current_user.preferred_username || current_user.name || current_user.email %></span></li>
        <li><%= button_to "Abmelden", destroy_user_session_path, method: :delete, class: "btn-logout" %></li>
      <% else %>
        <li><%= button_to "Anmelden", user_openid_connect_omniauth_authorize_path, method: :post, class: "btn btn-primary btn-sm", form: { data: { turbo: false } } %></li>
      <% end %>
    </ul>
  </div>
</header>
