    <nav>
      <ul>
        <li><%= link_to "Startseite", root_path %></li>
        <li><%= link_to "Aufgaben", tasks_path %></li>
        <li><%= link_to "Gliederungen", entities_path %></li>
        <li><%= link_to "Kategorien", categories_path %></li>
        <li><%= link_to "API", api_path %></li>
      </ul>
      <ul>
        <% if user_signed_in? %>
          <li><%= current_user.preferred_username || current_user.name || current_user.email %></li>
          <li><%= button_to "Abmelden", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Anmelden", user_openid_connect_omniauth_authorize_path, data: { turbo_method: :post } %></li>
        <% end %>
      </ul>
    </nav>
